body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: bold;
  
}

a:hover {
  color: coral;

}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
  background-color: white;
  margin: .3rem;
  border-radius: .3rem;
  border-color: rgb(112, 182, 8);
  border-style: solid;
}
	
li {
  list-style: none;
}

h1 {
  color: rgb(112, 182, 8);
}