<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Restaurant SignUp</title>
</head>
<body>
  <h1>Restaurants</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Restaurant #<%= restaurants._id %></h2>
    <h3><%= restaurants.name %></h3>
    <p>Complete: <%= restaurants.done ? 'Yes' : 'No' %></p>
  <% } %>
	<a href="/restaurants">Go back</a>
</body>
</html>